.card-container {
  max-width: 600px;
  margin: 0 auto;
  margin: 20px;
}

.content-container {
  padding: 16px;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  font-size: 40px;
  color: #ff9800;
}

h3 {
  margin: 0;
  font-size: 16px;
}

p {
  margin: 0;
  color: #888;
  font-size: 14px;
}

.details {
  margin-top: 8px;
  color: #666;
  font-size: 14px;
}

.spacer {
  margin: 0 8px;
}

.actions {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

button {
  margin-right: 8px;
}

.btnAccept {
  background-color: #ff9800
}

.lead-invitation {
  margin-left: auto;
  font-weight: bold;
  color: #666;
}
