.card-container {
  max-width: 600px;
  margin: 0 auto;
  margin: 20px;
}

.content-container {
  padding: 16px;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  font-size: 40px;
  color: #ff9800;
  padding: 20px;
}

h3 {
  margin: 0;
  font-size: 16px;
}

p {
  margin: 0;
  color: #888;
  font-size: 14px;
}

.details {
  margin-top: 8px;
  margin: 10px;
  color: #666;
  font-size: 14px;
}

.details-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.spacer {
  margin: 0 18px;
}

.actions {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

button {
  margin-right: 8px;
  border-color: #ff9800;
}

.btnAccept {
  background-color: #ff9800
}

.btnDecline {
  background-color: #e4e8eb
}

.lead-invitation {
  margin-left: auto;
  font-weight: bold;
  color: #666;
}

.margin {
  margin: 20px;
}

.dp-accept {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.orange {
  color: #ff9800;
}

.icon {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.text {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #ff9800;
}

.daugther {
    min-width: 600px;
}

.grandpa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
