<mat-tab-group dynamicHeight>
  <mat-tab label="Invited">

    <!--<mat-card class="job-card" *ngFor="let item of leads">
    <mat-card-header>
      <div mat-card-avatar class="avatar">{{item.contactFirstName}}</div>
      <mat-card-title>{{item.contactFirstName}}</mat-card-title>
      <mat-card-subtitle>{{item.createDate | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="job-details">
        <span> <mat-icon class="icon" fontIcon="location_on"></mat-icon>{{item.suburb}}</span>
        <span class="bold"> {{this.loadCategory(item.category)}}</span>
        <span class="bold">Job ID: {{item.id}}</span>
      </div>
      <div class="text-bold">
        <span>{{item.description}}</span>
      </div>
      <p>{{item.price | currency}} {{this.loadStatus(item.status)}}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button color="primary" (click)="changeStatusLead(item.id, 1)">Accept</button>
      <button mat-button color="accent" (click)="changeStatusLead(item.id, 2)">Decline</button>
    </mat-card-actions>

  </mat-card>-->
    <mat-card class="card-container" *ngFor="let item of leads">
          <div class="content-container">
            <div class="header">
              <mat-icon class="avatar">account_circle</mat-icon>
              <div>
                <h3>{{item.contactFirstName}}</h3>
                <p>{{item.createDate | date: 'dd/MM/yyyy'}}</p>
              </div>
            </div>
            <div class="details">
              <p>
                <mat-icon>place</mat-icon> {{item.suburb}}
                <span class="spacer"></span>
                <mat-icon>work</mat-icon> {{this.loadCategory(item.category)}}
                <span class="spacer"></span>
                Job ID: {{item.id}}
              </p>
              <p>{{item.description}}</p>
            </div>
            <div class="actions">
              <button mat-button class="btnAccept" (click)="changeStatusLead(item.id, 1)">Accept</button>
              <button mat-button class="btnDecline" (click)="changeStatusLead(item.id, 2)">Decline</button>
              <p class="lead-invitation">{{item.price | currency}} {{this.loadStatus(item.status)}}</p>
            </div>
          </div>
    </mat-card>

  </mat-tab>

  <mat-tab label="Accepted">
    <div class="example-large-box mat-elevation-z4">
      <mat-card class="card" *ngFor="let item of leadsAccepteds">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{item.contactFirstName}}</mat-card-title>
            <mat-card-subtitle>{{item.createDate | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
            <mat-card-content>
              {{item.suburb}}
              {{item.category}}
              Job ID: {{item.id}}
              {{item.description}}
            </mat-card-content>
            <mat-card-title>{{item.id}}</mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button color="primary" (click)="changeStatusLead(item.id, 1)">Accept</button>
          <button mat-button color="accent" (click)="changeStatusLead(item.id, 2)">Decline</button>
          {{item.price | currency}} {{this.loadStatus(item.status)}}
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
